.a {
	/*height: 100vh;*/
	height: auto;
	display: flex;
	/*align-items: center;*/
	flex-direction: column;
	margin-top: 100px;
}

.a-title {
	font-size: 40px;
	text-align: center;
}

/*.a-title {
	font-size: 40px;
	text-align: center;
	position: relative;*/
	/*justify-content: center;*/
/*	margin-left: auto;
	margin-right: auto;
	width: 200px;
}*/

/*.a-title h1{
	font-size: 40px;
	text-align: center;
	position: absolute;*/
	/*transform: translate(-50%, -50%);*/
	/*transform: translate(150%, 50%);*/
/*	color: black;
}*/

/*.a-title h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}
*/
/*.a-title h1:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}*/

/*@keyframes animate {
	0%, 100% {
		clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}
	50% 
	{
		clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}*/

.a-desc {
	display: flex;
	/*position: relative;*/
	/*border: 3px solid green;*/
	/*width: 100%;*/
	/*margin-top: 300px;*/
	padding: 50px;
}

.a-desc-text {
	font-size: 20px;
	font-weight: 200;
}

.a-desc-left {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/*background-color: #ede7f6;*/
	height: 100%;
	/*border: 1px solid blue;*/
}

.a-desc-card.bg {
	/*border:  1px solid black;*/
	position: absolute;
	top: 50px;
	left: 90px;
	background-color: #333;
}

.a-desc-right {
	flex: 1;
	/*border: 1px solid red;*/
	height: 100%;
}

.a-desc-card {
	width: 60%;
	height: 70vh;
	border-radius: 30px;
	/*position: absolute;*/
	position: relative;
	overflow: hidden;
}

.a-img {
	width:  100%;
	height: 100%;
	object-fit: cover;
}

.a-tools {
	display: flex;
	margin: 50px;
}

.a-line {
	width: 15%;
	border: 1px solid #f48fb1;
	border-radius: 5px;
}

.a-items {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.a-education-desc {
	padding: 50px;
}

.a-education-desc-text1 {
	font-size: 20px;
	font-weight: 300;
}

.a-education-desc-text2 {
	font-size: 15px;
	font-weight: 300;
}

.a-experience {
	padding: 50px;
	display: flex;
}

.a-experience-left {
	flex: 1;
}

.a-experience-right {
	flex: 1;
}

.a-experience-desc-text1 {
	font-size: 20px;
	font-weight: 300;
}

.a-experience-desc-text2 {
	font-size: 15px;
	font-weight: 300;
}

.a-experience-item-tag-holder {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
}

.a-experience-item-tags {
	padding: 5px 15px 5px 15px;
	border-radius: 25px;
	/*background-color: #fafafa;*/
	/*color: #757575;*/
	/*background-color: black;*/
	background-color: #7e57c2;;
	color: white;
	font-size: 12px;
	margin: 0px 10px 10px 0px;	
}

@media screen and (max-width:  480px) {
	.a {
		flex-direction: column;
		text-align: center;
		margin-top: 30px;
	}

	.a-desc-left {
		width: 100%;
		/*height: 100%;*/
	}

	.a-card {
		width: 50%;
		height: 35vh;
		border-radius: 30px;
		position: absolute;
		overflow: hidden;
	}


	.a-desc-text {
		text-align: left;
	}

	.a-desc-card.bg {
		display: none;
	}

	.a-desc-right {
		margin-top: 50px;
		/*padding-top: 50px;*/
	}

	.a-title {
		font-size: 40px;
	}


	.a-desc {
		display: flex;
		flex-direction: column;
		padding: 10px;
	}

	.a-desc-card {
		width: 100%;
		height: 70vh;
		border-radius: 30px;
		/*position: absolute;*/
		/*position: relative;
		overflow: hidden;*/
	}

	.a-tools {
		display: flex;
		justify-content: center;
	}

	.a-education-desc {
		padding: 15px;
		text-align: left;
	}

	.a-experience {
		display: flex;
		flex-direction: column;
		padding: 15px;
		text-align: left;
	}

	.a-experience-left {
		margin-bottom: 50px;
	}
	.a-experience-desc-text1 {
		font-size: 20px;
		font-weight: 300;
	}


}