.exp {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*align-items: center;*/
	/*border: 1px solid red;*/
}

.exp-body-hero {
	font-size: 60px;
	text-align: center;
}

.exp-image {
	width: 100%;
}

.exp-caption {
	margin-top: 50px;
	color: #7e57c2;
}

.exp-body-design {
	padding: 100px 50px 100px 50px;
}

.exp-body-design-highlights {
	/*background-color: #311b92;*/
	background-color: #7e57c2;
	/*height: 30px;*/
	color: white;
	display: flex;
	flex-direction: row;
	padding: 7px;
	/*height: 27px;*/
	
}

.exp-body-design-highlights-sizing {

}

.exp-body-design-highlights-icon {
	height: 25px;
	width: 25px;
	margin-right: 10px;
}

.exp-body-design-highlights-text {
	/*margin-bottom: 350px;*/
	font-size: 20px;
	font-weight: 300;
}

.exp-body-casestudy {
	padding: 100px 50px 100px 50px;
}

.exp-body-development {
	padding: 100px 50px 100px 50px;
}

.exp-body-development-highlights {
	/*background-color: #311b92;*/
	background-color: #7e57c2;
	color: white;
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.exp-body-development-highlights-icon {
	height: 25px;
	width: 25px;
	margin-right: 10px;
}

.exp-body-development-highlights-text {
	/*margin-bottom: 350px;*/
	font-size: 20px;
	font-weight: 300;
}

.exp-body-development-boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.exp-body-development-box {
	margin-top: 50px;
	height: 440px;
	width: 390px;
	padding: 40px 0px 0px 0px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 
	0 2px 4px rgb(0 0 0 / 7%), 
	0 4px 8px rgb(0 0 0 / 7%), 
	0 8px 16px rgb(0 0 0 / 7%), 
	0 16px 32px rgb(0 0 0 / 7%), 
	0 32px 64px rgb(0 0 0 / 7%);
}

.exp-body-development-box-header {
	font-weight: bold;
	height: 30px;
	padding: 5px;
	color: #7e57c2;;
}

.exp-body-development-box-description-holder {
	width: 95%;
	/* height: 120px; */
	background-color: #4a148c;
	border-radius: 30px 0px 10px 10px;
	padding: 10px 10px 30px 10px ;
}

.exp-body-development-box-description {
	/* color: #757575; */
	color: rgba(245, 245, 245, 0.692);
	font-size: 11px;
	font-weight: 500;
	/* height: 90px; */
	min-height: 65px;
	max-width: 350px;
	margin: 0px auto 0px auto;
}

.exp-body-development-box-image-image {
	width: 100%;
	height: 250px;
	object-fit: cover;
	/*object-fit: contain;*/
	/*border-radius: 20px;*/
}

.exp-body-development-box-image {
	margin-bottom: 15px;
}

.exp-body-development-box-description {
	
}

.exp-body-development-box-button {
	width: 55%;
	/* background-color: #7e57c2; */
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 15px;
	margin: 10px auto 0px auto;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.exp-body-development-box-button-item {
	align-items: center;
	font-size: 13px;
}

.exp-body-development-box-views {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 45px;
	font-size: 13px;
	color: white;
	font-weight: 300;
	margin: 5px auto -20px auto
}

.exp-body-development-box-button-item:nth-child(2) {
	margin-left: 10px;
}

.exp-body-development-box-button-text {
	text-decoration: none;
	color: white;
}

@media screen and (max-width:  500px) {

	.exp {
		/*width: 500px;*/
		width: 100%;
		margin-top: 50px;
	}

	.exp-body-hero {
		font-size: 30px;	
	}

	.exp-body-design {
		padding: 50px 10px 50px 10px;
	}

	.exp-image {
		width: 100%;
	}

	.exp-caption {
		font-size: 15px;
	}

	.exp-body-casestudy {
		padding: 50px 10px 50px 10px;
	}

	.exp-body-development {
		padding: 50px 10px 50px 10px;
	}

	.exp-body-development-box {
		padding: 0px 0px 60px 0px;
	}

	.exp-body-development-box-description-holder {
		width: 94%;
		/* height: 120px; */
		background-color: #4a148c;
		border-radius: 30px 0px 10px 10px;
		padding: 10px 10px 30px 10px ;
	}

	.exp-body-development-box-description {
		font-size: 13px;
		font-weight: 500;
		height: 100px;
	}

	.exp-body-development-box-button {
		width: 94%;
		padding: 10px;		
	}

}