.exp {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*align-items: center;*/
	/*border: 1px solid red;*/
}

.exp-body-hero {
	font-size: 60px;
	text-align: center;
}

.exp-image {
	width: 100%;
}

.exp-caption {
	margin-top: 50px;
	color: #7e57c2;
}

.exp-body-design {
	padding: 100px 50px 100px 50px;
}

.exp-body-design-highlights {
	background-color: #311b92;
	/*height: 30px;*/
	color: white;
	display: flex;
	flex-direction: row;
	padding: 7px;
	/*height: 27px;*/
	
}

.exp-body-design-highlights-sizing {

}

.exp-body-design-highlights-icon {
	height: 25px;
	width: 25px;
	margin-right: 10px;
}

.exp-body-design-highlights-text {
	/*margin-bottom: 350px;*/
	font-size: 20px;
	font-weight: 300;
}

.exp-body-casestudy {
	padding: 100px 50px 100px 50px;
}

.exp-body-development {
	padding: 100px 50px 100px 50px;
}

.exp-body-development-highlights {
	background-color: #311b92;
	color: white;
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.exp-body-development-highlights-icon {
	height: 25px;
	width: 25px;
	margin-right: 10px;
}

.exp-body-development-highlights-text {
	/*margin-bottom: 350px;*/
	font-size: 20px;
	font-weight: 300;
}


@media screen and (max-width:  500px) {

	.exp {
		/*width: 500px;*/
		width: 100%;
		margin-top: 50px;
	}

	.exp-body-hero {
		font-size: 30px;	
	}

	.exp-body-design {
		padding: 50px 10px 50px 10px;
	}

	.exp-image {
		width: 100%;
	}

	.exp-caption {
		font-size: 15px;
	}

	.exp-body-casestudy {
		padding: 50px 10px 50px 10px;
	}

	.exp-body-development {
		padding: 50px 10px 50px 10px;
	}
}