
.cgm-texts {
	display: flex;
	flex-direction: row;
	width: 70px;
	justify-content: space-between;
	/* border: 1px solid red; */
	margin: 30px 0px 10px 20px;
	align-items: center;
	padding: 10px;
	border-radius: 20px;
	background-color: #d1c4e9;
	color: #311b92;
}

.textItem:nth-child(1) {
	font-size: 20px;
}

.textItem:nth-child(2) {
	/* font-size: 4rem; */
	font-size: 14px
}

.cgm-item {
	min-height: 40rem;
	min-width: 21rem;
	padding: 20px;
	/*border: 1px solid indianred;*/
}

.cgm-item img {
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	pointer-events: none;
	object-fit: cover;
}

.cgm-inner-carousel {
	display: flex;
	/*background-color: lightblue;*/
}

.cgm-carousel {
	cursor: grab;
	overflow: hidden;
	/*background-color: pink;*/
}


@media screen and (max-width:  500px) {
	.cgm-item {
		min-height: 28rem;
		min-width: 14rem;
		padding: 10px;
		/*border: 1px solid indianred;*/
	}

	.cgm-item img {
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		pointer-events: none;
		object-fit: cover;
	}

	.cgm-inner-carousel {
		display: flex;
		/*background-color: lightblue;*/
	}

	.cgm-carousel {
		cursor: grab;
		overflow: hidden;
		/*background-color: pink;*/
	}
}